body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #1F2937;
    margin: 0;
}

.header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem 28rem 5em;  
}

.first-section{
    display:flex;
    padding: 1rem 28rem 10rem;
    justify-content: space-between;
}

.second-section{
    display: flex;
    background: white; 
    padding: 1rem 28rem 20rem; 
}

.quote-section{
    background: #E5E7EB;
    padding: 1rem 28rem 20rem; 
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.quote-author{
    font-weight: bold;
    font-size: 24px;
}

.subsection-1{
    max-width: 50%;
}


.logo{
    font-size: 32px;
    font-weight: bold;
    color: white;
    user-select: none;
}



ul {
    text-align: right;
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}


h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
    margin: 0;
    padding-bottom: 10px;
}

h2{
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
}

.subtext{
    font-size: 17px;
    color: #E5E7EB;
    margin: 0;
    padding-bottom: 20px;
}

.signup-1{
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
    margin-top: 30px;
}

.signup-1:hover{
    background-color: white;
    color: #3882F6;
    transition-duration: 0.2s;
}

.image{
    border-radius: 10px;
}