body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #1F2937;
    margin: 0;
}

.center{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header{
    display: flex;
    align-items: baseline;
    justify-content:space-between;
    padding: 1rem 15% 5em;  

}

.first-section{
    display:flex;
    padding: 1rem 15% 5%;
    justify-content: space-between;
}

.second-section{
    display: flex;
    background: white; 
    padding: 1rem 15% 3%; 
    flex-direction: column;
    align-items:center;
}

.second-subsection{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    column-gap: 100px;
}

.quote-section{
    background: #E5E7EB;
    padding: 1rem 15% 3%;
    display:flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    line-height: 1.3;
    margin-top: 2em;
}

.quote-author{
    font-weight: bold;
    font-size: 24px;
    margin-top: -30px;
}

.call-section{
    padding: 1rem 15% 5rem;
    background: white;
    display:flex;
    align-items: center;
    justify-content: center;
}

.call-title{
    color:rgb(240, 240, 240);
    font-size: 24px;
    font-weight: bold;
}

.call-subtitle{
    color:rgb(212, 212, 212);
    font-size: 16px;
    margin-top: -20px;
    white-space: nowrap
}

.footer {
    display: flex;
    padding: 16px;
    justify-content: center;
    color: white;
  }

.subsection-1{
    max-width: 50%;
}

.subsection-2{
    max-width: 50%;
}

.logo{
    font-size: 32px;
    font-weight: bold;
    color: white;
    user-select: none;
}

ul {
    text-align: right;
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
    margin: 0;
    padding-bottom: 10px;
}

h2{
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
}

.subtext{
    font-size: 17px;
    color: #E5E7EB;
    margin: 0;
    padding-bottom: 20px;
}

.signup-1{
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
    margin-top: 30px;
}

.signup-1:hover{
    background-color: white;
    color: #3882F6;
    transition-duration: 0.2s;
}

.signup-2{
    border-radius: 8px;
    background: #3882F6;
    border: 2px solid white;
    padding: 8px 40px;
    margin-top: 30px;
    font-weight: bold;
    margin-left: 50px;
    white-space: nowrap
}

.signup-2:hover{
    background-color: white;
    color: #3882F6;
    transition-duration: 0.2s;
}

.image{
    border-radius: 10px;
}

.square-subtext{
    text-align: center;
    color: grey;
    margin-left: -10px;
}

.subrect-1{
    display:flex;
    flex-direction: column;
    padding: 30px 30px;
    margin-left: 110px;
    max-width: 60%;
}

.subrect-2{
    display:flex;
    flex-direction: column;
    padding: 36px 26px;
    margin-right: 100px;
}

.link:hover{
    color: #3882F6;
    transition-duration: 0.2s;
}

#square {
    width: 180px;
    height: 180px;
    border-radius: 10%;
    background: white;
    border: 4px solid #3882F6;
    margin-left: -20px;
  }

#rectangle {
    width: auto;
    height: 170px;    
    background: #3882F6;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    margin-top: 60px;
}